html{
    background-color: #002642;
}

body {
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 100%;
    line-height: 1.5;
    color: #02040F;
}

h2 {
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 1rem;
}

h3 {
    font-weight: 150;
    margin-top: 0;
}

h5 {
    font-weight: 100;
    margin: 0;
    position: relative;
}

p {
    font-size: 1rem;
}

section {
    margin: 1em 1.5em 1em 1.5em;
    background-color: #e5dadacd;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #3c3e4b;
    padding: 1rem;
}

strong {
    font-weight: 80;
    font-size: 1.5rem;
    line-height: 1.5;
}

.card {
    align-content: flex-start;
    background-color: #e5dadacd;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #3b4945;
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-template-columns: 180px 2rem;
    justify-content: center;
    padding: 2em 2em 2em 2em;
    margin: 2em 1em 1em 1em;
    row-gap: 10px;
}

.card-icon {
    width: 3rem;
    height: 3rem;
    margin-top: .5em;
}

.card-links {
    display: flex;
    flex-direction: row;
}


.card-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.card-title > * {
    margin: 0;

}


/* Collapsible Section */
.active, .collapsible:hover {
    background-color: #e5dada5d;
}

.active:after {
    content: "\2212"
}

.collapsible:after {
    background-color: #e5dada7a;
    border: none;
    border-radius: 10px;
    /* box-shadow: 5px 5px 20px #3c3e4b; */
    cursor: pointer;;
    display: flex;
    margin: 1em 1.5em 1em 1.5em;
    outline: none;
    padding: 1em;
    width: 100%;
    text-align: left;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    padding: 1em 1em 1em 1em;
    transition: max-height 0.2s ease-out;
    background-color: #e5dadacd;
}

.container {
    display: flex;
    flex-direction: column;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    border-bottom: 1px solid #000000;
    background-color: #E5DADA;
    opacity: 0.75;
    position: fixed;
    width: 100%;
    height: 3em;
    z-index: 50;
    justify-content: center;
    flex: 1;
}

.footer {
    border-bottom: 1px solid #000000;
    background-color: #E5DADA;
    opacity: 0.75;
    width: 100%;
    height: 3em;
    z-index: 50;
    justify-content: center;
    flex: 1;
}

.header-icon {
    padding: .5em;
    height: 2em;
    width: 2em;
}

.header-item {
    align-self: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px#00000037;
    margin: .5em;
    padding: .5em;
}

.header-label {
    color: #d0d3d3;
    padding-bottom: 20px;
}

.headshot {
    width: 180px;
    height: auto;
    border-radius: 5px;
}

.main-container {
    background-color: #757887;
    border-radius: 10px;
    box-shadow: 10px 20px 20px #00000037;
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
}

.page-padding {
    padding: 100px 50px 0 50px;
}

.pdf {
    display: inline-block;
    margin: 5%;
    min-width: 90%;
    min-height: 800px;
}

